.env
.idea
.DS_Store
vendor
/storage
craft/cpresources
craft/config/license.key
craft/hot
node_modules
composer.lock
bootstrap.php
/craft
/web
/config
.phpunit.result.cache
cpresources
/bootstrap
/packages.php
